/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CONCAT_SEQ_GTF {
        ext.prefix = { "${meta.id}.incl_custom_seq" }
    }

    withName: CONCAT_CUSTOM_GTF {
        ext.prefix = { "${meta.id}.incl_custom_ann" }
    }

    withName: SORT_GTF {
        ext.prefix = { "${meta.id}.sorted" }
        ext.args = '-k1,1 -k4,4n'
    }

    withName: STAR_STARSOLO {
        ext.args = { [
            "--readFilesCommand zcat",
            "--runDirPerm All_RWX",
            "--outWigType bedGraph",
            "--outSAMtype BAM SortedByCoordinate",
            "--soloUMIstart ${params.umi_start}",
            "--soloUMIlen ${params.umi_length}",
            "--soloCBstart ${params.cb_start}",
            "--soloCBlen ${params.cb_length}",
            "--soloBarcodeReadLength ${params.bc_read_length}"
        ].join(' ') }
    }

    withName: ANNDATA_READMTX {
        publishDir = [
            path: { "${params.outdir}/anndata/samples" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ANNDATA_CONCAT {
        publishDir = [
            path: { "${params.outdir}/anndata/combined" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
