/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CONCAT_SEQ_GTF {
        ext.prefix = { "${meta.id}.incl_custom_seq" }
    }

    withName: CONCAT_CUSTOM_GTF {
        ext.prefix = { "${meta.id}.incl_custom_ann" }
    }

    withName: SORT_GTF {
        ext.prefix = { "${meta.id}.sorted" }
        ext.args = '-k1,1 -k4,4n'
    }

    withName: ALIGN {
        ext.args = { [
            "--readFilesCommand zcat",
            "--runDirPerm All_RWX",
            "--outWigType bedGraph",
            "--outSAMattributes NH HI AS nM CR CY UR UY GX GN CB UB sS",
            "--outSAMtype BAM SortedByCoordinate",
            "--soloUMIstart ${params.umi_start}",
            "--soloUMIlen ${params.umi_length}",
            "--soloCBstart ${params.cb_start}",
            "--soloCBlen ${params.cb_length}",
            "--soloBarcodeReadLength ${params.bc_read_length}"
        ].join(' ') }
    }

    withName: EXTRACT_MULTIMAPPERS {
        ext.prefix = { "${meta.id}.multimappers" }
        ext.args = "-e '[NH]>1' --write-index"
        publishDir = [
            path: { "${params.outdir}/bam/multimappers" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EXTRACT_UNIQUEMAPPERS {
        ext.prefix = { "${meta.id}.unique" }
        ext.args = "-e '[NH]==1'"
        publishDir = [
            path: { "${params.outdir}/bam/uniquemappers" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BAM_PRIORITIZE {
        publishDir = [
            enabled: false
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/bam/modified" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    SAMTOOLS_MERGE {
        publishDir = [
            enabled: false
        ]
    }

    withName: PICARD_CLEANSAM {
        ext.prefix = { "${meta.id}.clean" }
        publishDir = [
            path: { "${params.outdir}/bam/merged" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUANTIFY {
        maxRetries    = 3
        ext.args = { [
            "--readFilesCommand samtools view",
            "--readFilesType SAM SE",
            "--soloInputSAMattrBarcodeSeq CR UR",
            "--soloInputSAMattrBarcodeQual CY UY",
            "--runDirPerm All_RWX",
            "--outWigType bedGraph",
            "--outSAMtype BAM SortedByCoordinate",
            "--soloMultiMappers Uniform",
            "--soloUMIstart ${params.umi_start}",
            "--soloUMIlen ${params.umi_length}",
            "--soloCBstart ${params.cb_start}",
            "--soloCBlen ${params.cb_length}",
            "--soloBarcodeReadLength ${params.bc_read_length}"
        ].join(' ') }
    }

    withName: ANNDATA_READMTX {
        publishDir = [
            path: { "${params.outdir}/anndata/samples" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ANNDATA_CONCAT {
        publishDir = [
            path: { "${params.outdir}/anndata/combined" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
